body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: .95em;
  color: #343434;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

select, input, textarea {
  font-size: .95em !important;
}
h1 {
  font-size: 1.4em;
}

.w-10 {
  width: 10%;
}
.w-12 {
  width: 12%;
}
.w-19 {
  width: 19%;
}
.w-20 {
  width: 20%;
}

.update {
  background: #f9f9f9;
}

/* if status is closed, gray out all <tr> */
.closed {
  color: #999999;
}
.closed.badge {
  background: #f8f9fa;
  color: #999999;
}